<h1>Races!</h1>

<a href="/races/new">Add a New Race</a>

<ul>
  <% list_of_races.each do |race| %>
  <li><a href="/races/<%= race[:id] %>"><%= race[:race_name] %> | <%= race[:race_location] %> | <%= race[:race_month] %></a></li>
    <% end %>
</ul>