<form action="/races" method="post">
  <input type="text" name="race_name" placeholder="Name of Race">
  <input type="text" name="race_location" placeholder="Location of Race">
  <input type="text" name="race_month" placeholder="Month of Race">
  <input  type="submit" value="Create Race">
</form>